    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 10px;
    }

    :root {
        --green500: hsl(158, 36%, 37%);
        --green700: hsl(158, 42%, 18%);
        --black: hsl(212, 21%, 14%);
        --grey: hsl(228, 12%, 48%);
        --cream: hsl(30, 38%, 92%);
        --white: #fff;
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WlhyyTn89ddpQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/fraunces/v38/6NU78FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0KxC9TeA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .product-preview-container-background {
        width: 100%;
        height: 100vh;
        background-color: var(--cream);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prod-prev {
        width: 60rem;
        height: 44.8rem;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;
    }

    .prod-prev__half {
        display: flex;
        height: 100%;
    }

    .prod-prev__half--left {
        width: 50%;
        align-items: center;
    }

    .prod-prev__half--right {
        background-color: var(--white);
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 3rem;
    }

    .prod-prev__image {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .prod-prev__para-top {
        font-size: 1.3rem;
        font-family: 'Montserrat';
        color: var(--grey);
        letter-spacing: 5px;
        font-weight: 500;
        margin-top: 0;
    }

    .prod-prev__heading-main {
        font-size: 3.2rem;
        font-family: 'Fraunces';
        color: var(--black);
        width: 20rem;
        margin-top: 0;
        font-weight: 700;
    }

    .prod-prev__para-main {
        font-size: 1.4rem;
        color: var(--grey);
        font-family: 'Montserrat';
        word-spacing: 1px;
        line-height: 1.6;
        font-weight: 500;
        width: 24rem;
        margin-top: 0;
    }

    .prod-prev__price-wrap {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .prod-prev__price {
        font-size: 3.2rem;
        font-family: 'Fraunces';
        font-weight: 700;
        color: var(--green500);
        margin-top: 1rem;
    }

    .prod-prev__former-price {
        padding-bottom: 1.2rem;
        font-size: 1.3rem;
        font-family: 'Montserrat';
        font-weight: 500;
        color: var(--grey);
        text-decoration: line-through;
    }

    .prod-prev__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border: none;
        background-color: var(--green500);
        width: 24rem;
        padding-block: 1.5rem;
        border-radius: 1rem;
        font-family: 'Montserrat';
        font-weight: 700;
        color: var(--white);
        cursor: pointer;
        transition: all 200ms linear;
    }

    .prod-prev__button:hover {
        background-color: var(--green700);
    }

    .prod-prev__button:active {
        background-color: var(--black);
    }

    @media screen and (max-width: 550px) {
        .prod-prev {
            flex-direction: column;
            height: auto;
            width: 95%;
        }

        .prod-prev__half {
            width: 100%;
        }

        .product-preview-container-background {
            height: 100%;
            padding-block: 20%;
        }

        .prod-prev__heading-main {
            width: auto;
            margin-top: 1rem;
        }

        .prod-prev__para-main {
            width: auto;
        }

        .prod-prev__button {
            width: 100%;
        }
    }